body {
    margin: 2px 0 1px 1px;

    section.all-cards {
        height: 99vh;
        display: grid;
        grid-template-rows: 20% 80%;

        div.card-top {
            display: flex;
            justify-content: center;

            button {
                width: 10%;
                height: 40px;

                &.button1 {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 20px;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        div.card-bottom {
            display: grid;

            div.global {
                /* display: grid;
                    grid-template-rows: 110px; */
                justify-content: center;

                div.plusAndOptions {
                    display: flex;
                    justify-content: space-between;
                    width: 120px;
                    height: 20px;
                    background-color: transparent;
                    border: 2px solid black;

                    .buttonPlus {
                        cursor: pointer;
                    }

                    .options {
                        cursor: pointer;
                    }
                }

                div.element {
                    display: grid;
                    grid-template-rows: 70% 30%;
                    text-align: center;
                    align-items: center;


                    div.divBtn {
                        display: grid;
                        grid-template-columns: 30% 70%;

                        .moreoptions {
                            &:hover {
                                cursor: pointer;
                            }
                        }

                        .textContent {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    .modal-container {
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2000;
        display: flex;
        justify-content: center;
        align-items: center;


        .modal {
            position: relative;
            background: white;
            width: 16%;
            min-width: 200px;
            padding: 40px;
            border: 10px solid #988b7a;
            box-shadow: 0 0 0 10px white;

            .close {
                position: absolute;
                top: 0px;
                right: 0px;
                width: 32px;
                height: 32px;
                border-radius: 20%;
                border: 4px solid black;
            }

            .menu {
                display: flex;
                align-items: center;
            }

            .transfer {
                display: flex;
                align-items: center;
            }

            .directory {
                display: flex;
                align-items: center;
            }

            .voicemail {
                display: flex;
                align-items: center;
            }

            .extension {
                display: flex;
                align-items: center;
            }

            .photo {
                width: 10px;
                height: 10px;
                background-color: black;
            }
        }
    }
}