body {
  margin: 2px 0 1px 1px;
}
body section.all-cards {
  height: 99vh;
  display: grid;
  grid-template-rows: 20% 80%;
}
body section.all-cards div.card-top {
  display: flex;
  justify-content: center;
}
body section.all-cards div.card-top button {
  width: 10%;
  height: 40px;
}
body section.all-cards div.card-top button.button1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
body section.all-cards div.card-top button.button1 img {
  width: 20px;
}
body section.all-cards div.card-top button.button1:hover {
  cursor: pointer;
}
body section.all-cards div.card-bottom {
  display: grid;
}
body section.all-cards div.card-bottom div.global {
  /* display: grid;
      grid-template-rows: 110px; */
  justify-content: center;
}
body section.all-cards div.card-bottom div.global div.plusAndOptions {
  display: flex;
  justify-content: space-between;
  width: 120px;
  height: 20px;
  background-color: transparent;
  border: 2px solid black;
}
body section.all-cards div.card-bottom div.global div.plusAndOptions .buttonPlus {
  cursor: pointer;
}
body section.all-cards div.card-bottom div.global div.plusAndOptions .options {
  cursor: pointer;
}
body section.all-cards div.card-bottom div.global div.element {
  display: grid;
  grid-template-rows: 70% 30%;
  text-align: center;
  align-items: center;
}
body section.all-cards div.card-bottom div.global div.element div.divBtn {
  display: grid;
  grid-template-columns: 30% 70%;
}
body section.all-cards div.card-bottom div.global div.element div.divBtn .moreoptions:hover {
  cursor: pointer;
}
body section.all-cards div.card-bottom div.global div.element div.divBtn .textContent {
  text-align: center;
}
body .modal-container {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .modal-container .modal {
  position: relative;
  background: white;
  width: 16%;
  min-width: 200px;
  padding: 40px;
  border: 10px solid #988b7a;
  box-shadow: 0 0 0 10px white;
}
body .modal-container .modal .close {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 32px;
  height: 32px;
  border-radius: 20%;
  border: 4px solid black;
}
body .modal-container .modal .menu {
  display: flex;
  align-items: center;
}
body .modal-container .modal .transfer {
  display: flex;
  align-items: center;
}
body .modal-container .modal .directory {
  display: flex;
  align-items: center;
}
body .modal-container .modal .voicemail {
  display: flex;
  align-items: center;
}
body .modal-container .modal .extension {
  display: flex;
  align-items: center;
}
body .modal-container .modal .photo {
  width: 10px;
  height: 10px;
  background-color: black;
}

body section.all-cards div.card-bottom div.element {
  width: 120px;
  height: 84px;
  background-color: transparent;
  border: 2px solid black;
}
